<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UTS Student Loan System</title>
    </head>
    <body>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="#first">University of Technology Sydney</a>
                </div>
            </div>
        </nav>

        <header id="first">
            <div class="header-content">
                <div class="inner">
                    <h1 class="cursive">UTS Student Loan System</h1>
                    <h3>Apply For A Better Future</h3>
                    <hr>
                    <a href="login.jsp" id="login" data-toggle="collapse" class="btn btn-primary btn-xl">Login</a>
                </div>
            </div>
        </header>
    </body>
</html>